  * {
  box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  .clear {
    clear: left;
  }

  .container {
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  /* Bagian Header Logo*/
  
  header {
    background-color: #404146;
    color: #fff;
    height: 90px;
    width: 100%;
    top: 0;
    z-index: 10;
  }
  
  .header-logo {
    float: left;
    font-size: 27px;
    letter-spacing: 7px;
    padding: 30px 30px;
  }
  
  .header-list {
    float: left;
    padding: 35px 20px;
  }

  .header-list a {
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }

  .header-list a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 35px 0;
    /* Gantikan property display ke none */
    display: none;
  }
  
  /* Bagian Ninja Ken Content Header */

  .top-wrapper {
    padding: 50px 0 50px 0;
    color: white;
    text-align: center;
  }
  
  .top-wrapper h1 {
    font-size: 140px;
    color: #404146;
  }

  .top-wrapper span {
    font-family: Georgia;
    font-size: 110px;
    color: #F1D00E;
  }

  .top-wrapper h2 {
    font-size: 50px;
    font-family: "Poppins Thin";
    letter-spacing: px;
    color: #535353;
  }
  
  .top-wrapper img {
    position: relative;
    width: 15%;
  }

  /* Bagian Tentang Saya */

  .lesson-wrapper {
    padding-bottom: 70px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #f7f7f7;
    text-align: center;
  }

  .heading {
    padding-top: 60px;
    padding-bottom: 20px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-family: Poppins;
  }

  /* Bagian Proyek Contoh */

  .contents-wrapper {
    padding-bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
  }
  
  .heading h3 {
    font-size: 24px;
    font-family: Poppins;
    color: #5f5d60;
  }

  .content {
    float: left;
    width: 33%;
  }

  .contents-item {
    position: relative;
    padding: 15px 30px;
  }

  .contents-item img {
    width: 100%;
  }
  .contents-item p {
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
    color: #000000;
  }
  
  /* Bagian Contact Form */
  .message-wrapper {
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  /* Tambahkan CSS untuk tags <input> dan <textarea> */
  input, textarea {
    width: 700px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #dee7ec;
  }
  
  /* Tambahkan CSS untuk contact-submit */
  .contact-submit {
    background-color: #F7E989;
    color: #000000;
    width: 350px;
    border-radius: 10px;
  }
 /* Bagian Footer */ 
  footer {
    background-color: #7C7D82;
    color: #fff;
    height: 190px;
    padding: 40px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
    letter-spacing: 7px;
    font-weight: bold;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 20px;
  }
  
